<!-- djangotutorial/polls/templates/polls/index.html -->
{% extends "polls/base.html" %}
{% load static %}
{% load i18n %}
{% block css %}
{% endblock %}

{% block content %}
<p>{% trans "Polls app" %}</p>
{% if latest_question_list %}
<ul>
  {% for question in latest_question_list %}
  <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>
  {% endfor %}
</ul>
{% else %}
<p>{% trans "No polls are available." %}</p>
{% endif %}
{% endblock %}

{% block script %}
<script>
    $(document).ready(function () {
    }); /* end of $(document).ready(function () */
</script>
{% endblock %}